{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="pagetitle">
      <h1>Profile</h1>
    </div>
        <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{{asset('images/profile/'~ app.user.image)}}" alt="Profile" class="rounded-circle">
              <h2>{{ app.user.nomUtilisateur }}</h2>
              {% if 'ETUDIANT' in app.session.get('roles') %}
                  <h3>Etudiant</h3>
                {% elseif 'ADMIN' in app.session.get('roles') %}  
                  <h3>Admin</h3>
                {% elseif 'SUPER-ADMIN' in app.session.get('roles') %} 
                  <h3>Super Admin</h3>
                {% elseif 'ENSEIGNANT' in app.session.get('roles') %}  
                  <h3>Enseignant</h3>
                {% endif %}
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile">


                  <h5 class="card-title">Details du profile</h5>
                  {% if 'ETUDIANT' in app.session.get('roles') %}
                      {% for etudiant in etudiants %}
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Nom</div>
                            <div class="col-lg-9 col-md-8">{{ etudiant.nom }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Prenom</div>
                            <div class="col-lg-9 col-md-8">{{ etudiant.prenom }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Date de Naissance</div>
                            <div class="col-lg-9 col-md-8">{{ etudiant.dateNaiss|date('Y-m-d') }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Email</div>
                            <div class="col-lg-9 col-md-8">{{ etudiant.email }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Telephone</div>
                            <div class="col-lg-9 col-md-8">{{ etudiant.telephone }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Filiere</div>
                            <div class="col-lg-9 col-md-8">{{ etudiant.filiere }}</div>
                          </div>
                          <div class="text-center">
                            <a href="{{path('edit_profile_etudiant',{id2 : etudiant.id_etudiant , id: etudiant.id})}}" class="btn btn-primary">Modifier</a>
                          </div>
                           <div class="text-center">
                            <a href="{{path('edit_user',{id : admin.userId })}}" class="btn btn-primary">Modifier</a>
                          </div>
                      {% endfor %}  
                  {% elseif 'ENSEIGNANT' in app.session.get('roles') %}
                        {% for enseignant in enseignants %}
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Nom</div>
                            <div class="col-lg-9 col-md-8">{{ enseignant.nom }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Prenom</div>
                            <div class="col-lg-9 col-md-8">{{ enseignant.prenom }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Date de Naissance</div>
                            <div class="col-lg-9 col-md-8">{{ enseignant.dateNaiss|date('Y-m-d') }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Email</div>
                            <div class="col-lg-9 col-md-8">{{ enseignant.email }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Telephone</div>
                            <div class="col-lg-9 col-md-8">{{ enseignant.telephone }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Spécialite</div>
                            <div class="col-lg-9 col-md-8">{{ enseignant.specialite }}</div>
                          </div>
                          <div class="d-flex justify-content-between">
                            <a href="{{path('edit_profile_enseignant',{id2 : enseignant.enseignant_id , id: enseignant.id})}}" class="btn btn-primary">Modifier</a>
                            <a href="{{path('edit_user',{id : admin.userId })}}" class="btn btn-primary">Modifier</a>
                          </div>
                          
                      {% endfor %}
                      {% elseif 'ADMIN' in app.session.get('roles') %}
                        {% for admin in admins %}
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Nom</div>
                            <div class="col-lg-9 col-md-8">{{ admin.nom }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Prenom</div>
                            <div class="col-lg-9 col-md-8">{{ admin.prenom }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Nom d'utilisateur</div>
                            <div class="col-lg-9 col-md-8">{{ admin.nomUtilisateur }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Date de Naissance</div>
                            <div class="col-lg-9 col-md-8">{{ admin.dateNaiss|date('Y-m-d') }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Email</div>
                            <div class="col-lg-9 col-md-8">{{ admin.email }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Telephone</div>
                            <div class="col-lg-9 col-md-8">{{ admin.telephone }}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Spécialité</div>
                            <div class="col-lg-9 col-md-8">{{ admin.specialite }}</div>
                          </div>
                          <div class="d-flex justify-content-center gap-4">
                            <a href="{{path('edit_profile_enseignant',{id2 : admin.enseignant_id , id: admin.id})}}" class="btn btn-primary">Modifier</a>
                            <a href="{{path('edit_user',{id : admin.userId })}}" class="btn btn-primary">Modifier Compte </a>
                          </div>
                          
                          {% endfor %}
                  {% endif %}
            </div>
          </div>

        </div>
      </div>
    </section>

{% endblock %}
