{% extends 'base.html.twig' %}

{% block title %}Administrateurs{% endblock %}

{% block body %}
    <div class="card">
            <div class="card-body">
            <div class="pagetitle d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Liste des administrateurs</h5>
                    
                    <div class="search-bar">
                      <form class="search-form d-flex align-items-center justify-content-between gap-2" method="POST" action="#">
                        <label for="searchInput">Nom du admin:</label>
                        <input type="text"  id="searchInput" placeholder="admin" class="form-control" title="Enter le nom du admin">
                        <a href="{{ path('add_admins') }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
                      </form>
                    </div>
            </div>

              <!-- Table with hoverable rows -->
              <table class="table table-hover" id ="adminTable">
                <thead>
                  <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Nom d'utilisateur</th>
                        <th scope="col">Spécialite</th>
                        <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                        {% for enseignant in enseignants %}
                        {%  if 'ADMIN' in enseignant.roles %}
                            <tr>
                                        <td> {{ enseignant.nom }}</td>
                                        <td> {{ enseignant.prenom }}</td>
                                        <td>{{ enseignant.email }}</td>
                                        <td> {{ enseignant.nomUtilisateur }}</td>
                                        <td>{{ enseignant.specialite }}</td>
                                        <td><div class="actions d-flex justify-content-between align-items-center gap-2">
                              <a href="{{ path('edit_admin',{id : enseignant.id }) }}" class="btn btn-primary "><i class="fa fa-file-edit"></i></a>
                              <a href="{{ path('delete_admin',{id : enseignant.idPersonne }) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                            </div></td>
                            </tr>
                        {% endif %}
    
                        {%  endfor  %}

                </tbody>
              </table>
              <!-- End Table with hoverable rows -->

            </div>
          </div>

      <script>        
        function filterTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toLowerCase();
            table = document.getElementById("adminTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; 
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        
        document.getElementById("searchInput").addEventListener("input", filterTable);
    </script>

{% endblock %}
