{% extends 'base.html.twig' %}



{% block body %}

  
<div class="example-wrapper">
{% for flashMessage in app.session.flashBag.get('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ flashMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    <div class="pagetitle">
        <h1>Ajouter une question</h1>
    </div>
    {# {{ form_start(questionForm) }}
                        {{ form_row(questionForm.description , {label : "Description "}) }}
                        {{ form_row(questionForm.id_Test , {label : "Test "}) }}
        {{ form_end(questionForm) }} #}
        {{ form(questionForm) }}
</div>

{% endblock %}
