{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

{% block body %}
    <div class="card">
            <div class="card-body">
            <div class="pagetitle d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Liste des questions</h5>
                    <a href="{{ path('add_qst') }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
            </div>

              <!-- Table with hoverable rows -->
              <table class="table table-hover">
                <thead>
                  <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Test</th>
                        <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                        {% for question in questions %}
                            <tr>
                                <td> {{ question.description }}</td>
                                <td>{{ question.nomTest }}</td>
                                <td><div class="actions d-flex justify-content-between align-items-center gap-2">
                    <a href="{{ path('edit_qst',{id:question.id}) }}" class="btn btn-primary "><i class="fa fa-file-edit"></i></a>
                    <a href="{{ path('delete_qst',{id:question.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    <a href="{{ path('add_reponse2',{id:question.id}) }}" class="btn btn-danger">Reponse</a>
                    </div></td>
                            </tr>   
                        {%  endfor  %}

                </tbody>
              </table>
              <!-- End Table with hoverable rows -->

            </div>
          </div>


{% endblock %}
