{% extends 'base.html.twig' %}

{% block title %}Tests{% endblock %}

{% block body %}
    <div class="card">
            <div class="card-body">
            <div class="pagetitle d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Liste des Tests</h5>
                   
                    <div class="search-bar">
                      <form class="search-form d-flex align-items-center justify-content-between gap-2" method="POST" action="#">
                        <label for="searchInput">Nom du test:</label>
                        <input type="text"  id="searchInput" placeholder="Test" class="form-control" title="Enter le nom du test">
                        {% if 'ENSEIGNANT' in app.session.get('roles') %}
                            <a href="{{ path('add_test') }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
                         {% endif %}
                      </form>
                    </div>
            </div>


              <table class="table table-hover" id="testsTable">
                <thead>
                  <tr>
                        <th scope="col">Nom du test</th>
                        <th scope="col">Durée du test</th>
                        <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody id="bodyTable">
                        {% for test in tests %}
                            <tr>
                                <td> {{ test.nomTest }}</td>
                                <td>{{ test.duree }}</td>
                                <td><div class="actions d-flex justify-content-between align-items-center gap-2">
                      <a href="{{ path('edit_test',{id : test.id }) }}" class="btn btn-primary "><i class="fa fa-file-edit"></i></a>
                      <a href="{{ path('delete_Test',{id : test.id }) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                      <a href="{{ path('add_qst2',{id : test.id }) }}" class="btn btn-danger">Question</a>
                    </div></td>
                            </tr>   
                        {%  endfor  %}

                </tbody>
              </table>

            </div>
          </div>
      <script>
        
        function filterTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toLowerCase();
            table = document.getElementById("testsTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; 
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        
        document.getElementById("searchInput").addEventListener("input", filterTable);
    </script>

{% endblock %}
