<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}Welcome!{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
<link href="{{asset('images/favicon.png')}}" rel="icon">
  <link href="{{asset('images/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% block stylesheets %}

  
  <!-- Vendor CSS Files -->
  <link href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{asset('vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{asset('vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{asset('vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{asset('vendor/simple-datatables/style.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset('css/style.css')}}" rel="stylesheet">
  
{% endblock %}


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{{ asset('images/logo.png')}}" alt="">
        
        <span class="d-none d-lg-block">E-learning</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{asset('images/profile/'~ app.user.image)}}" alt="Profile" class="rounded-circle">
            
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ app.user.nomUtilisateur }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
            {% if app.user %}
                <h6>{{ app.user.nomUtilisateur }}</h6>
                {% if 'ETUDIANT' in app.session.get('roles') %}
                  <span>Etudiant</span>
                {% elseif 'ADMIN' in app.session.get('roles') %}  
                  <span>Admin</span>
                {% elseif 'SUPER-ADMIN' in app.session.get('roles') %} 
                  <span>Super Admin</span>
                {% elseif 'ENSEIGNANT' in app.session.get('roles') %}  
                  <span>Enseignant</span>
                {% endif %}
                
            {% endif %}
              
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ path('profile') }}">
                <i class="bi bi-person"></i>
                <span>Profile</span>
              </a>
            </li>
          
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ path('app_logout')}}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Déconnexion</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
    {% if 'ETUDIANT' in app.session.get('roles') %}
        <li class="nav-item">
              <a class="nav-link collapsed" href="{{ path('show_cours2') }}">
             <i class="fa-solid fa-book"></i>
              <span>Cours</span>
            </a>
        </li> 
          <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('mes_Cours') }}">
            <i class="fa-solid fa-book"></i>
              <span>Mes cours</span>
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('profile') }}">
            <i class="bi bi-file-person"></i>
            <span>Profile</span>
            </a>
        </li>   
    {% elseif 'SUPER-ADMIN' in app.session.get('roles') %}


        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-book"></i><span>Gestions des cours</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ path('show_cours') }}">
              <i class="bi bi-circle"></i><span>Cours</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_chapitre') }}">
              <i class="bi bi-circle"></i><span>Chapitres</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_partie') }}">
              <i class="bi bi-circle"></i><span>Parties des chapitres</span>
            </a>
          </li>
          
        </ul>
      </li>
      

          <li class="nav-item">
              <a class="nav-link collapsed" href="{{ path('show_enseignant') }}">
              <i class="ri-user-add-fill"></i>
              <span>Gerer les enseignants</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="{{ path('show_etudiants') }}">
              <i class="ri-user-add-fill"></i>
              <span>Les etudiants</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="{{ path('show_admins') }}">
              <i class="ri-user-add-fill"></i>
              <span>Administrateurs</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="{{ path('show_devoires') }}">
              <i class="bi bi-card-checklist"></i>
              <span>Devoires</span>
              </a>
          </li>
            
      {% elseif 'ADMIN' in app.session.get('roles') %}
        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-book"></i><span>Gestions des cours</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ path('show_cours') }}">
              <i class="bi bi-circle"></i><span>Cours</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_chapitre') }}">
              <i class="bi bi-circle"></i><span>Chapitres</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_partie') }}">
              <i class="bi bi-circle"></i><span>Parties des chapitres</span>
            </a>
          </li>
          
        </ul>
      </li>
      

          <li class="nav-item">
              <a class="nav-link collapsed" href="{{ path('show_enseignant') }}">
              <i class="ri-user-add-fill"></i>
              <span>Gerer les enseignants</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="{{ path('show_etudiants') }}">
              <i class="ri-user-add-fill"></i>
              <span>Les etudiants</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="{{ path('show_devoires') }}">
              <i class="bi bi-card-checklist"></i>
              <span>Devoires</span>
              </a>
          </li>
            <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('profile') }}">
            <i class="bi bi-file-person"></i>
            <span>Profile</span>
            </a>
        </li>
    {% elseif 'ENSEIGNANT' in app.session.get('roles') %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-book"></i><span>Gestions des cours</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ path('show_cours') }}">
              <i class="bi bi-circle"></i><span>Cours</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_chapitre') }}">
              <i class="bi bi-circle"></i><span>Chapitres</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_partie') }}">
              <i class="bi bi-circle"></i><span>Parties des chapitres</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
              <a class="nav-link collapsed" href="{{ path('show_devoires') }}">
              <i class="ri-user-add-fill"></i>
              <span>Devoires</span>
              </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav2" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-book"></i><span>Gestion des tests</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{path('show_test')}}" id="btnTests">
              <i class="bi bi-circle"></i><span>Tests</span>
            </a>
          </li>
          <li>
            <a href="{{path('show_questions')}}">
              <i class="bi bi-circle"></i><span>Questions</span>
            </a>
          </li>
          <li>
            <a href="{{path('show_reponse')}}">
              <i class="bi bi-circle"></i><span>Reponse</span>
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('profile') }}">
            <i class="bi bi-file-person"></i>
            <span>Profile</span>
            </a>
        </li>
        </ul>
      </li>
    {% endif %}




    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    {# <div class="pagetitle">
      <h1>Blank Page</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Blank</li>
        </ol>
      </nav>
    </div><!-- End Page Title --> #}

    <section class="section">
    
    {% block body %}

    {% endblock %}

    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>e-learning</span></strong>. All Rights Reserved
    </div>
    <div class="credits">

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% block javascripts %}
  <!-- Vendor JS Files -->
  <script src="{{asset('vendor/apexcharts/apexcharts.min.js')}}"></script>
  <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('vendor/chart.js/chart.umd.js')}}"></script>
  <script src="{{asset('vendor/echarts/echarts.min.js')}}"></script>
  <script src="{{asset('vendor/quill/quill.min.js')}}"></script>
  <script src="{{asset('vendor/simple-datatables/simple-datatables.js')}}"></script>
  <script src="{{asset('vendor/tinymce/tinymce.min.js')}}"></script>
  <script src="{{asset('vendor/php-email-form/validate.js')}}"></script>
  {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> #}

  <!-- Template Main JS File -->
  <script src="{{asset('js/main.js')}}"></script>


{% endblock %}
</body>

</html>