{% extends 'base.html.twig' %}

{% block title %}Partie{% endblock %}

{% block body %}

 
<div class="example-wrapper">
 {% for flashMessage in app.session.flashBag.get('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ flashMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    <div class="pagetitle">
        <h1>Ajouter une partie d'un chapitre</h1>
    </div>
    {# {{ form_start(PartieForm) }}
                        {{ form_row(PartieForm.description , {label : "Description "}) }}
                        {{ form_row(PartieForm.images , {label : "image "}) }}
                        {{ form_row(PartieForm.info , {label : "Informations "}) }}
                        {{ form_row(PartieForm.avertissement , {label : "Avertissement "}) }}
                        {{ form_row(PartieForm.id_cours , {label : "Cours "}) }}
                        {{ form_row(PartieForm.id_Chapitre , {label : "Chapitre "}) }}
        {{ form_end(PartieForm) }} #}
        {{ form(PartieForm)}}
</div>

{% endblock %}
