{% extends 'base.html.twig' %}

{% block title %}Partie{% endblock %}

{% block body %}
    <div class="row">
            <div class="pagetitle d-flex justify-content-between align-items-center">
                    <h1>Liste des parties</h1>
                
                <div class="search-bar">
                  <form class="search-form d-flex align-items-center justify-content-between gap-2" method="POST" action="#">
                  <label for="searchInput">Nom du chapitre:</label>
                  <input type="text"  id="searchInput" placeholder="Chapitre" class="form-control" title="Enter le nom du chapitre">
                {% if 'ENSEIGNANT' in app.session.get('roles') %}
                   <a href="{{ path('add_partie') }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
                {% endif %}
                  </form>
                  
                  </div>
                   
            </div>
      {% for part in parties %}
          
            <div class="col-sm">
              <div class="card">
                <div class="card-body">
                <div class="d-flex justify-content-end mt-2">
                <h5 class="card-title" style="display:none;">{{ part.nomChap}}</h5>
                  {% if 'ENSEIGNANT' in app.session.get('roles') %}
                        <div class="actions d-flex justify-content-between align-items-center gap-2">
                              <a href="{{ path('edit_partie',{id : part.id}) }}" class="btn btn-primary "><i class="fa fa-file-edit"></i></a>
                              <a href="{{ path('delete_partie',{id : part.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                              </div>
                        
                {% endif %}
                </div>
                  <p>{{ part.description}}</p>
                  <hr>
                  <p>{% if part.images != null %}
                              <img src="{{ asset('imagePartie/' ~ part.images) }}" alt="{{part.images}}" width="77"
                                    height="50" class="fluid my-2 rounded">
                      {% else %}
                             Cette partie n'a pas de photo
                      {% endif %}
                  </p>
                  <hr>
                  <p> 
                  {% if part.info != null %}
                            {{part.info}}
                      {% else %}
                             Pas d'information
                      {% endif %}</p>    
                  <hr>
                   <p> {% if part.avertissement != null %}
                            {{part.avertissement}}
                      {% else %}
                            Pas d'avertissement
                      {% endif %}</p>
                      <hr>
                    <p>{{part.nomChap}}</p>
                    <hr>
                    <p>{{part.nomCours}}</p>
                 </div>

              </div>
   
            </div> 

      {% endfor %}
    </div>

          <script>
        
        function filterTable() {
            var input, filter, cards, card, cardTitle, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toLowerCase();
            cards = document.getElementsByClassName("card");

            for (i = 0; i < cards.length; i++) {
                card = cards[i];
                cardTitle = card.getElementsByClassName("card-title")[0];
                if (cardTitle) {
                    txtValue = cardTitle.textContent || cardTitle.innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        card.style.display = "";
                    } else {
                        card.style.display = "none";
                    }
                }
            }
        }

        document.getElementById("searchInput").addEventListener("input", filterTable);
    </script>
{% endblock %}
