{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
        <div class="pagetitle d-flex justify-content-between align-items-center">
            <h1>List des cours</h1>
           
              
            
             <div class="search-bar">
              <form class="search-form d-flex align-items-center justify-content-between gap-2" method="POST" action="#">
                <label for="searchInput">Nom du cours:</label>
                <input type="text"  id="searchInput" placeholder="Cours" class="form-control" title="Enter le nom du cours">
                 {% if 'ENSEIGNANT' in app.session.get('roles') %}
                <a href="{{ path('app_add_cours') }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
                {% endif %}
              </form>
              
            </div>
        </div>
 
      <div class="row">
      {% if successMessage is not empty %}
                      <div class="alert alert-success">
                          {{ successMessage }}
                      </div>
                        
            {% endif %}
      {% for cour in cours %}
          
            <div class="col-sm">
            
            
              <div class="card">
                  
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title">{{ cour.nomCours}}</h5>

                    {% if 'ENSEIGNANT' in app.session.get('roles') %}
                      <div class="actions d-flex justify-content-between align-items-center gap-2">
                        <a href="{{ path('edit_cours',{id : cour.id}) }}" class="btn btn-primary "><i class="fa fa-file-edit"></i></a>
                        <a href="{{ path('delete_cours',{id : cour.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        <a href="{{ path('add_chapitre2',{id : cour.id}) }}" class="btn btn-danger">Chapitre</a>
                      </div>
                    {% endif %}

                  </div>
                  <hr>
                  <!-- <p>{{cour.introduction}}</p>
                  <hr> -->
                  <p>La date de publication de ce cours est <b> {{ cour.datePublication|date('Y-m-d')}}</b></p>
                  <hr>
                  <p>Ce cours a <b>{{cour.nbChapitres}}</b> chapitres</p>
                  <hr>
                  <p>Ce cours est <b>
                    {%if cour.estPayant == 1%}
                        Payant
                    {%else%}
                        Gratuit
                    {% endif %}
                    </b> </p>
                  {% if cour.estPayant == true %}
                  <hr>
                  <p>Le prix de ce cours est <b> {{cour.prix}}DH</b></p>
                  {% endif %}
                  <hr>
                  <p>{{cour.fullName}}</p>
                                  <hr>
                  <p>{{cour.nomCat}}</p>
                </div>
                
              </div>
            </div>
        
      {% endfor %}
    </div>

    <script>
        
        function filterTable() {
            var input, filter, cards, card, cardTitle, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toLowerCase();
            cards = document.getElementsByClassName("card");

            for (i = 0; i < cards.length; i++) {
                card = cards[i];
                cardTitle = card.getElementsByClassName("card-title")[0];
                if (cardTitle) {
                    txtValue = cardTitle.textContent || cardTitle.innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        card.style.display = "";
                    } else {
                        card.style.display = "none";
                    }
                }
            }
        }

        document.getElementById("searchInput").addEventListener("input", filterTable);
         </script>
{% endblock %}
