{% extends 'base.html.twig' %}

{% block title %}Detail cours{% endblock %}

{% block body %}
{% for cour in cours %}
     <div class="d-flex  justify-content-center align-items-center"><h1 >{{cour.nomCours}}</h1></div>
     <p>{{cour.introduction}}</p>
     <p>La date cdu publication du cours est <b> {{cour.datePublication|date('Y-m-d')}}</b></p>
     <p>Le nombre de chapitre est <b> {{cour.nbChapitres}}</b></p>
     {% if cour.estPayant == 1 %}
        <p>Le prix du cours est <b> {{cour.prix}}</b></p>
     {% endif %}
     <p>Le responsable du cours est {{cour.fullName}}</p>

     <div class="d-flex  justify-content-center align-items-center"><a href="{{path('suivre_cours',{id1 : cour.id ,id2: idEtu})}}" class="btn btn-success">Suivre ce cours</a></div>
     <div class="d-flex  justify-content-center align-items-center mt-4"><a href="{{path('unfollow_cours',{id1 : cour.id ,id2: idEtu})}}" class="btn btn-danger">Abandonner</a></div>
{% endfor %}
    
{% endblock %}
